<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.A.K.I</title>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../02-css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <!-- ================= HEADER ================= -->
    <header> 
            <div class="container_header">
              <button id="botao-menu-mobile">☰</button>
              <img src="/imagens/logos/logo_paki.png" alt="Logo da P.A.K.I" class="logo_paki" loading="lazy">
              
              <div class="area-usuario-header">
                <i class="fa fa-user"></i>
                <h1>Ronaldo</h1>
                <h2 class="tipo-usuario">Paciente</h2>
              </div>
            </div>
            
            <nav class="menu_nav">
                <ul class="menu_nav_lista">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sobre.html">Quem Somos?</a></li>
                    <li><a href="loja.html">Produtos</a></li>
                    <li><a href="funcionalidades_cliente.html">Ferramentas</a></li>
                    <li><a href="contato.html">Redes Sociais</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
    </header>

    <!-- ================= CONTEÚDO PRINCIPAL ================= -->
    <main>           
        <div class="container-func-consulta-cliente">
            <section class="conteudo-func-consulta-cliente">
                <div class="funcionalidade-consulta">
                    <form id="formulario_agendarconsulta">
                        <h1>AGENDADOR DE CONSULTA</h1>
                        <label for="motivo_consulta">Conte-nos o motivo da sua consulta:</label>
                        <input type="text" id="descricao_consulta">

                    <label for="tipo_consulta">Escolha o tipo da consulta:</label>
                        <div class="opcoes">
                        <input type="radio" name="tipo_consulta" value="rotina"/> Rotina
                        <input type="radio" name="tipo_consulta" value="exame"/> Exame
                        </div>

                        <label for="urgencia">Escolha a urgência da consulta:</label>
                        <div class="opcoes">
                        <input type="radio" name="urgencia" value="alta"/> Alta
                        <input type="radio" name="urgencia" value="baixa"/> Baixa
                        </div>
                        <button type="submit" id="btnAdicionar">Adicionar Consulta</button>
                    </form>

                    <ul id="lista_consultas">
                    </ul>
                </div>
             
            </section>
        </div>  
    </main>
    <!-- ================= FOOTER ================= -->
    <footer>
        <div id="conteudo_footer">
        <!-- Parte 1 -->
        <div id="conteudo1_footer">
            <div id="logo_footer">
            <h1>
                <img src="/imagens/logos/logo_paki.png" alt="Logo da P.A.K.I" width="100" loading="lazy">
            </h1>
            <p>P.A.K.I seu painel de saúde digital!</p>
            </div>

            <div class="container_informacoes_footer">
            <ul class="lista_footer">
                <li><h3>Lojas Parceiras</h3></li>
                <li><a href="#" class="footer_link">Saúde</a></li>
                <li><a href="#" class="footer_link">Exercícios</a></li>
                <li><a href="#" class="footer_link">Dieta</a></li>
            </ul>

            <ul class="lista_footer">
                <li><h3>Produtos</h3></li>
                <li><a href="#" class="footer_link">App</a></li>
                <li><a href="#" class="footer_link">Desktop</a></li>
                <li><a href="#" class="footer_link">Cloud</a></li>
            </ul>
            </div>
        </div>

        <!-- Parte 2 -->
        <div id="conteudo2_footer">
            <div id="redes_sociais_footer">
            <a href="#" class="footer_link" id="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="footer_link" id="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="footer_link" id="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
            </div>

            <div class="mensagem_direitos">
            <p>©2025 todos os direitos reservados</p>
            </div>

            <ul class="lista_footer_horizontal">
            <li><a href="#" class="footer_link">Termos</a></li>
            <li><a href="#" class="footer_link">Plano de saúde</a></li>
            <li><a href="#" class="footer_link">Contrato</a></li>
            </ul>
        </div>
        </div>
    </footer>

  <!-- ================= JS ================= -->
  <script src="/03-js/script.js"></script>
</body>
</html>