<!-- ================= CONTEÚDO PRINCIPAL ================= -->
    {% extends 'base.html'%}
    {% block conteudoPagina%}
        <main>      
               
            <div class="container-tabela-gerencia">
                <div class="cabecalho-gerenciamento">
                    <h1 class="section-title">Minhas Consultas</h1>
                </div>

                <div class="filtros-tabela">
               
                </div>

                <div class="tabela" id="tabela-consultas">
                    <table >
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Status</th>
                                <th>Data e Hora</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>

                <div class="cards-tabela" id="lista-consultas-cards">
                </div>  
            </div>

            <div>
                 <button id="botao-tema">🌙</button>
            </div>

           
        </main>
    {% endblock %}