<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento do peso</title>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../02-css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
  <header> 
            <div class="container_header">
              <button id="botao-menu-mobile">☰</button>
              <img src="/imagens/logos/logo_paki.png" alt="Logo da P.A.K.I" class="logo_paki" loading="lazy">
              
              <div class="area-usuario-header">
                <i class="fa fa-user"></i>
                <h1>Ronaldo</h1>
                <h2 class="tipo-usuario">Paciente</h2>
              </div>
            </div>
            
            <nav class="menu_nav">
                <ul class="menu_nav_lista">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="sobre.html">Quem Somos?</a></li>
                    <li><a href="loja.html">Produtos</a></li>
                    <li><a href="funcionalidades.html">Ferramentas</a></li>
                    <li><a href="contato.html">Redes Sociais</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
    </header>

    <main>
      
      <div id="container-func-imc">
        <h2 class="section-title">Calculador de IMC</h2>
        <form id="formulario-imc" onsubmit="resultado_imc(event)">
        <label for="peso">Seu peso</label>
        <input type="text" id="peso" required placeholder="Ex: 73">

        <label for="altura">Sua altura (em centímetros)</label>
        <input type="text" id="altura" required placeholder="Ex: 180">

        <label for="resultado-imc">Resultado:</label>
        <div id="listaResultado"></div>

        <button type="submit" class="botao-adicionar">Calcular IMC</button>
        </form>
         
      </div>
      

       

      <div>
        <button id="botao-tema">🌙</button>
      </div>
    </main>


  <footer>
    <div id="conteudo_footer">
      <!-- Parte 1 -->
      <div id="conteudo1_footer">
        <div id="logo_footer">
          <h1>
            <img src="/imagens/logos/logo_paki.png" alt="Logo da P.A.K.I" width="100" loading="lazy">
          </h1>
          <p>P.A.K.I seu painel de saúde digital!</p>
        </div>

        <div class="container_informacoes_footer">
          <ul class="lista_footer">
            <li><h3>Lojas Parceiras</h3></li>
            <li><a href="#" class="footer_link">Saúde</a></li>
            <li><a href="#" class="footer_link">Exercícios</a></li>
            <li><a href="#" class="footer_link">Dieta</a></li>
          </ul>

          <ul class="lista_footer">
            <li><h3>Produtos</h3></li>
            <li><a href="#" class="footer_link">App</a></li>
            <li><a href="#" class="footer_link">Desktop</a></li>
            <li><a href="#" class="footer_link">Cloud</a></li>
          </ul>
        </div>
      </div>

      <!-- Parte 2 -->
      <div id="conteudo2_footer">
        <div id="redes_sociais_footer">
          <a href="#" class="footer_link" id="instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="footer_link" id="facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="footer_link" id="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

        <div class="mensagem_direitos">
          <p>©2025 todos os direitos reservados</p>
        </div>

        <ul class="lista_footer_horizontal">
          <li><a href="#" class="footer_link">Termos</a></li>
          <li><a href="#" class="footer_link">Plano de saúde</a></li>
          <li><a href="#" class="footer_link">Contrato</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  <!-- ================= JS ================= -->

  <script src="../03-js/script.js"></script>
</body>
</html>