/* Estilização da Página geral*/
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

.conteudo_pagina{
    width: 100%;
    background-color: rgb(255, 0, 0);
}

/*Estilização do footer*/
footer{
    width: 100%;
}

.container_informacoes_footer{
    display: flex;
    padding-right:10rem;
    gap: 1rem;
}

#conteudo1_footer{
    background: linear-gradient(90deg,rgba(60, 199, 113, 1) 0%, rgba(100, 219, 175, 1) 45%, rgba(91, 235, 213, 1) 73%, rgba(120, 224, 222, 1) 99%);
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-between;
}

#logo_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#logo_footer p{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.lista_footer{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    list-style: none;
    letter-spacing: 1px;
}

.lista_footer h3{
    font-size: 1.3rem;
    color: rgb(0, 63, 114);
}

.footer_link{
    color: rgb(0, 75, 85);
    text-decoration: none;
}

/*2 parte do footer*/
#conteudo2_footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background: #3cbec7;
  padding: 1rem;
  border-top: 1px solid black;
}

.mensagem_direitos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.9rem;
}

#redes_sociais_footer {
  justify-self: start; 
  display: flex;
  gap: 1.5rem;
}

#redes_sociais_footer .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
    text-decoration: none;
}

#redes_sociais_footer .footer_link i{
    font-size: 1.5rem;
}

.lista_footer_horizontal{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    letter-spacing: 1px;
    gap: 1.5rem;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background: linear-gradient(#4267b3);
}

#whatsapp{
    background: linear-gradient(#25d366);
}


/* Estilização do cabeçalho header*/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3cc771;
    background: linear-gradient(90deg,rgba(60, 199, 113, 1) 0%, rgba(100, 219, 175, 1) 45%, rgba(91, 235, 213, 1) 73%, rgba(120, 224, 222, 1) 99%);
    height: 17vh;
    gap: 40%;
}

.logo_paki{
    max-width: 100%;
    max-height: 80%;
    border-radius: 5px;
}

#area_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

#area_usuario i{
  font-size: 80px;
}

#area_usuario:hover{
   background-color: rgb(0, 103, 110);
   color: white;
}

#botao_menu {
  cursor: pointer;
  font-size: 60px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.4s;
  color:#3a4347;
}

#botao_menu:hover{
    background-color: rgb(0, 103, 110);
    color: white;
}

#botao_menu.botaomenu_clicado{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#copyright_footer{
    display: flex;
    justify-content: center;
    background-color: black;
}

/* Estilização menu lateral*/

#menu_lateral{
    display: none;
}

#menu_lateral a{
    background-color: rgba(0, 85, 42, 0.767);
    width: 75%;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
    transition: transform 0.4s ;
    color: rgb(245, 245, 245);
    cursor: pointer;
    border: none;
    transition: 0.6s;
    text-decoration: none;
    font-weight: 800;
}
#menu_lateral a:hover{
    background-color: rgba(2, 212, 212, 0.767);
    scale: 1.1;
}

#menu_lateral.menu_lateralexibir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #61dba8;
    border-radius: 10px;
    opacity: 100%;
    margin: 0;
    display: flex;
    padding: 20px;
    gap: 10px;
}

#botao_tema{
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 116, 81, 0.842);
    transition: 0.5s;
    cursor: pointer;
}

/* Estilização conteudo paginas*/
main{
    background: url(/imagens/background/background_frutas.jpg) no-repeat center center ;
    background-size: cover;
    height: 99vh;
    display: flex;
    
}